# Data
data/
*.rds
*.csv
*.xlsx
*.png

# Processed and image folders
dataprocessor/GSE169614/
dataprocessor/images/

# R artifacts
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rbuildignore

# Learning/test scripts
dataprocessor/R/*test*

# Docker and Git
.git
.gitignore
.dockerignore
